[user]
	name = Krzysztof Matczak
	email = kmatczak@gmail.com



[color]
ui = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[color]
ui = true

[color "diff"]
whitespace = red reverse

[core]
whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
filemode=false

[diff "zip"]
textconv = unzip -c -a

[diff "tgz"]
textconv = tar -xzvf

[alias]
st = status
ci = commit
br = branch
co = checkout
df = diff
lg = log -p
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
lgl = log --
sp = status -- .
dp = diff -- .
unstage = reset HARD
graphviz = "!f() { echo 'digraph git {' ; XXX=$(git log --pretty='format: \"%h\" [ fillcolor=yellow, style=\"rounded,filled\", shape=box, label=\"%h | %f\\nDate: %ai\\nAuthor:%aN\\n%d\" ]' --decorate \"$@\"; git log --pretty='format: %h -> { %p }' \"$@\" | sed 's/[0-9a-f]\\+/\"&\"/g' ); echo \"$XXX\";  echo '}'; }; f "

